/* layout.module.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.header {
  grid-column: 1 / span 2;
  background-color: #f5f5f5;
  padding: 8px;

  border-bottom: 1px solid #0303030c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 1.5em;
}

.sidebar {
  grid-column: 1;
  background-color: #f5f5f5;
  padding: 10px;
}

.main {
  grid-column: 2;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 90.2vh;
  overflow-y: scroll;
}

.footer {
  grid-column: 1 / span 2;
  background-color: #f5f5f5;
  padding: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.8em;
  z-index: 2;
}
