/* styles.module.css */

.markdown-content {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: #333333;
  font-size: 1em;
}

.markdown-content h1 {
  font-size: 24px;
  margin-bottom: 16px;
  font-size: 2em;
}

.markdown-content h2 {
  font-size: 20px;
  margin-bottom: 12px;
}

.markdown-content p {
  margin-bottom: 8px;
}

.markdown-content a {
  color: #0066cc;
}

.markdown-content ul {
  list-style-type: disc;
  margin-bottom: 12px;
  margin-left: 24px;
}

.markdown-content ol {
  list-style-type: decimal;
  margin-bottom: 12px;
  margin-left: 24px;
}

.markdown-content li {
  margin-bottom: 4px;
}

.markdown-content pre {
  background-color: #141414;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 12px;
  overflow-x: auto;
  border-radius: 6px;
}

.markdown-content code {
  font-family: monospace;
  color: white;
  padding: 2px 4px;
  border-radius: 6px;
}

.markdown-content li code {
  background-color: #141414;
}

.save-button {
  position: fixed;
  bottom: 35px;
  right: 35px;
}

.meta {
  width: 340px;
  background-color: rgba(0, 0, 0, 0.557);
  padding: 6px 12px;
  position: fixed;
  right: 25px;
  z-index: 11;
  color: white;
  font-size: 0.9em;

  display: flex;
  flex-direction: column;
  gap: 2px;
}

.meta.hidden {
  display: none;
}

.meta button {
  background-color: white;
  color: #141414;
}

.folder {
  display: flex;
  gap: 4px;
  align-items: center;
}

.see-through {
  opacity: 0.3 !important;
}
